.cart {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    width: 35px; 
    height: 35px;
    margin-right: 5px; 
  }
  
  .cart-total {
    font-weight: bold;
    font-size: 25px; 
  }
  